.navbar h1 {
    color: white;
}
.navbar {
    display: inline-block;
    text-align: center;
}
.carousel-inner > .carousel-item >img{
    min-height : 300px;
    max-height : 300px;
    width : 100%;
  }